
    $denopiColors : (
        galaxy:#2f3e50,
        primary: #009688,
        regent-grey: #808c99
        font-color: #b3c1ca
    );

    // main #2f3e50
    // background #2a3848
    // top-nav #2f3e50
    // side-nav #2a3848