
  <li>
    <a href="" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mesaje">
      <i class="material-icons left header_icon">local_post_office</i>
      <span class="new badge cyan header_badges btn-floating pulse">2</span>
    </a>
  </li>
  <li>
    <a href="" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Notificari">
      <i class="material-icons left header_icon">notifications_active</i>
      <span class="new badge purple lighten-1 header_badges btn-floating pulse">4</span>
    </a>
  </li>
  <li>
    <a href="" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Alerte">
      <i class="material-icons left header_icon">error</i>
      <span class="new badge red accent-3 header_badges btn-floating pulse">1</span>
    </a>
  </li>
  <li>
    <a href="" (click)="onLogout()" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout">
      <i class="material-icons left header_icon">exit_to_app</i>
    </a>
  </li>
