<header>
  <nav class="navAdmin galaxy" role="navigation">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <app-top-nav></app-top-nav>
      </ul>

      <ul materialize="collapsible" id="slide-out" class="side-nav fixed sideNavAdmin collapsible collapsible-accordion">
        <li>
          <div class="userView">
            <div class="background">
            </div>
          </div>
        </li>
        <li><div class="divider"></div></li>
        <app-website-side-nav></app-website-side-nav>
        <li><div class="divider"></div></li>
        <app-admin-side-nav></app-admin-side-nav>


        <li><a class="collapsible-header waves-effect waves-pink"><i class="material-icons">folder</i>Catalog</a>
          <div class="collapsible-body productSubMenu">
            <ul>
              <li><a class="waves-effect waves"><i class="material-icons">find_in_page</i>Visibilities</a></li>
              <li><a class="waves-effect waves"><i class="material-icons">shop</i>Disponibilities</a></li>
              <li><a class="waves-effect waves"><i class="material-icons">collections</i>Categorii</a></li>
              <li><a class="waves-effect waves"><i class="material-icons">burst_mode</i>Tags</a></li>
              <li><a class="waves-effect waves"><i class="material-icons">shopping_cart</i>Products</a></li>
              <li><a class="waves-effect waves"><i class="material-icons">card_giftcard</i>Campaigns</a></li>
              <li><div class="divider"></div></li>
            </ul>
          </div>
        </li>
        <li><a class="waves-effect waves"><i class="material-icons icon-blue">group</i>Customers</a></li>
        <li><a class="waves-effect waves"><i class="material-icons icon-blue">add_shopping_cart</i>Orders</a></li>
        <li><a class="waves-effect waves"><i class="material-icons" routerLinkActive="active">person_add</i>Users</a></li>
        <li><a class="waves-effect waves"><i class="material-icons">insert_chart</i>Reports</a></li>

        <li><div class="divider"></div></li>


      </ul>

      <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
</header>
