<div class="row"></div>

<div class="row">
  <div class="col s12 m6 l4">
    <div class="widget_small teal lighten-1">
      <div class="row">
        <div class="col s6 m6 l6 widget_small_image">
            <i class="large material-icons">people</i>
          </div>
          <div class="col s6 m6 l6">
            <div class="widget_right right">
              <span class="widget_small_title">90</span><br/>
              <span class="widget_small_text">New Users</span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="widget_small pink lighten-1">
      <div class="row">
        <div class="col s6 m6 l6 widget_small_image">
            <i class="large material-icons">shopping_cart</i>
          </div>
          <div class="col s6 m6 l6">
            <div class="widget_right right">
              <span class="widget_small_title">120</span><br/>
              <span class="widget_small_text">New Orders</span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <div class="widget_small blue lighten-1">
      <div class="row">
        <div class="col s6 m6 l6 widget_small_image">
            <i class="large material-icons">shop_two</i>
          </div>
          <div class="col s6 m6 l6">
            <div class="widget_right right">
              <span class="widget_small_title">580</span><br/>
              <span class="widget_small_text">Total Products</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card report-card purple darken-1">
      <div class="card-content white-text">
        <span class="card-title left">Orders</span>
        <span class="card-icon right"><i class="material-icons left">trending_up</i></span>
        <br/><br/>
        <span class="card-value">275,800</span>
      </div>
      <div class="card-action purple darken-2">
        <a href="#">Monthly</a>
        <a href="#">Yearly</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card report-card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title left">Visits</span>
        <span class="card-icon right"><i class="material-icons left">trending_down</i></span>
        <br/><br/>
        <span class="card-value">125,300</span>
      </div>
      <div class="card-action pink darken-2">
        <a href="#">Monthly</a>
        <a href="#">Yearly</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12 z-depth-3 center-align">
    <table class="bordered highlight centered responsive-table ordes_tables">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td><span class="new badge teal lighten-1" data-badge-caption="delivered"></span></td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td><span class="new badge orange lighten-1" data-badge-caption="on the way"></span></td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
            <td><span class="new badge red accent-3" data-badge-caption="canceled"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
