    .img-wrapper {
        position: relative;
    }

    .img-wrapper img {
        width: 100%;
    }

    .img-wrapper .overlay {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        bottom:20px;
    }

    .img-wrapper h2 {
        margin: 0 0 .5em;
    }