  <h4>Jumbotron image</h4>

  <div class="img-wrapper">
    <img src="assets/images/ui/jumbotron/pexels-photo-248159.jpeg" />
    <div class="overlay">
      <h2>Heading</h2>
      <a class="waves-effect waves-light btn btn-outline-red btn-round">button</a>
    </div>
  </div>
  
  <div class="img-wrapper">
    <img src="assets/images/ui/jumbotron/pexels-photo-248159.jpeg" />
    <div class="overlay">
      <h2>Heading</h2>
      <a class="waves-effect waves-light btn btn-outline-cyan btn-round btn-large">button</a>
    </div>
  </div>