<div class="row">
  <div class="center-div">
    <div class="card center-align z-depth-3 galaxy">
      <div class="card-content white-text">
        <span class="card-title">Ajuta-ne!</span>
        <p>
          Pentru a avea o experienta cat mai placuta, avem nevoie sa ne ajuti in urmatorul ghid cu raspunsuri 
          la intrebari referitoare de site-ul pe care iti doresti sa il creezi.
        </p>
        <p>Daca doresti sa incepi ghidul, apasa pe START</p>
      </div>
      <div class="card-action">
        <a [routerLink]="['/website/select']" class="btn waves-effect waves-light cyan" type="submit" name="action">START</a>
      </div>
    </div>
  </div>
</div>