
  <h4>Divider with text</h4> 
  <p>Use this to delimit sections on showcase pages</p>

  <div class="row">
    <div class="divider col s4 m4 l4"></div>
    <div class="col s4 m4 l4 text-divider">
      <p class="flow-text">About Us</p>
    </div>
    <div class="divider col s4 m4 l4"></div>
  </div>
  
  <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
    <span style="font-size: 40px; background-color: #F3F5F6; padding: 0 10px;">
      Section Title <!--Padding is optional-->
    </span>
  </div>