 <div class="login-body valign-wrapper">
  <div class="center-align z-depth-3 row loginForm galaxy">
    <div class="row">
      <div class="col">
          <img src="/assets/images/denopi1.png" style="width:7rem; vertical-align:bottom;"/>
      </div>
      <div class="col">
          <span style="font-size:3rem;margin-top:20px; color:#18ffff;" class="my-wrapper valign-wrapper center-align"> denopi </span>
      </div>
    </div>

    <form materialize [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="text" class="validate" class="validate" formControlName="email">
          <label for="icon_email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input id="icon_password" type="password" cclass="validate" formControlName="password">
          <label for="icon_password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light cyan accent-3" type="submit" name="action" [disabled]="!myForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
