<div class="row">
  <div class="center-div">
    <div class="card center-align z-depth-3 galaxy">
      <div class="card-content white-text">
        <span class="card-title">Felicitari!</span>
        <p>
          Ai terminat de completat formularul pentru creeare site-ului tau.
        </p>
        <p>Daca doresti sa mergi mai departe in panoul de administrare, apasa pe FINISH</p>
      </div>
      <div class="card-action">
        <a [routerLink]="['/websites']" class="btn waves-effect waves-light cyan" type="submit" name="action">FINISH</a>
      </div>
    </div>
  </div>
</div>