<div class="row">
    <div class="center-div">
      <div class="card z-depth-3 galaxy">
        <div class="card-content white-text">
          <h4 class="card-title center-align">Detalii</h4>
          <h6>Tipul de site: {{ siteType }}</h6>
          <form materialize [formGroup]="detailForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input id="name" type="text" class="validate" formControlName="name">
                <label for="name">Nume</label>
              </div>
              <app-field-error-display
                [displayError]="formBuilderService.isFieldValid(detailForm, 'name')"
                errorMsg="Numele lipseste">
              </app-field-error-display>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">language</i>
                <input id="domain" type="text" class="validate" formControlName="domain">
                <label for="domain">Domeniu</label>
              </div>
              <app-field-error-display
                [displayError]="formBuilderService.isFieldValid(detailForm, 'domain')"
                errorMsg="Domeniul lipseste">
              </app-field-error-display>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">build</i>
                <select materialize="material_select"
                  [materializeSelectOptions]="categories"
                  required
                  name="category"
                  formControlName="category">
                <option value="" disabled selected>Categorie</option>
                <option *ngFor="let category of categories;"
                  [value]="category">
                  {{category}}
                </option>
                </select>
                <label>Categorie de website</label>
              </div>
              <app-field-error-display
                [displayError]="formBuilderService.isFieldValid(detailForm, 'category')"
                errorMsg="Categorie lipseste">
              </app-field-error-display>
            </div>
            <div class="row center-align">
              <button class="btn waves-effect waves-light teal" type="submit" name="action">
                <span>Adauga</span>
              </button>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light purple darken-2" name="action"
            (click)="back()">
            <span>Inapoi</span>
          </button>
        </div>
      </div>
    </div>
  </div>