

// Toasts styles
.toast{
  // display: inline-block;
}

.toast .row{
  margin-bottom: 0px;
}

.toast .row .col {
  padding:0.2rem;
}

.notify_type{
  font-weight: bold;
}

.notify_desc{
  padding-left:0.2rem;
}

.iToast{
  margin-top:5px;
}
