  <div class="row">
    <agm-map [ngStyle]="{ 'height': agmHeight}" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>Flo`s Home</agm-info-window> 
      </agm-marker>
    </agm-map>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="contact-us">
        <h3>Contact us</h3>
        <div class="contact-address">
          <p>Centerville Road, DE 19808, US </p>
          <p>Phone: <span class="teal-text">(+94 123 456 789)</span> </p>
          <p>Email : <span class="teal-text">(contact@denopi.com)</span></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <form class="col s12">
        <div class="row">
          <div class="input-field col m12">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field col m12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col m12">
            <i class="material-icons prefix">chat</i>
            <textarea id="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>
          <div class="input-field col m12 center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons right">send</i>Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>