<header>
    <nav class="navAdmin" role="navigation">
      <div class="nav-wrapper">
        <ul materialize="collapsible" id="slide-out" class="side-nav fixed sideNavAdmin collapsible collapsible-accordion galaxy darken-1">
          <li>
            <div class="userView">
              <div class="background">
              </div>
            </div>
          </li>
          <li><div class="divider"></div></li>
          <li><a class="waves-effect waves-cyan-accent-2" [routerLink]="['buttons']">Buttons</a></li>
          <li><a class="waves-effect waves-cyan-accent-2" [routerLink]="['preloaders']">Preloaders</a></li>
          <li><a class="waves-effect waves-cyan-accent-2" [routerLink]="['modals']">Modals</a></li>
          <li><a class="waves-effect waves-cyan-accent-2" [routerLink]="['notifications']">Notifications</a></li>
          <li><div class="divider"></div></li>
        </ul>

        <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

      </div>
    </nav>
  </header>
