<li><a class="waves-effect waves-teal" [routerLink]="['/dashboard']"><i class="material-icons icon-blue">home</i>Dashboard</a></li>
<li><a class="waves-effect waves-teal" [routerLink]="['/sysconfig']"><i class="material-icons icon-blue">settings</i>System Configuration</a></li>
<li><a class="waves-effect waves-teal" [routerLink]="['/websites']"><i class="material-icons icon-blue">settings</i>Websites</a></li>
<li><a class="waves-effect waves-teal" (click)="onLogout()"><i class="material-icons">exit_to_app</i>Logout</a></li>
