
.loginForm{
  /* margin-top:12%; */
  padding:20px;
  max-width:500px;
  min-width:400px;
}

.row {
  margin-bottom: 0px;
}

.success {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

.has-error {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.had-warning {
  border-bottom: 1px solid yellow;
  box-shadow: 0 1px 0 0 yellow;
}
